.Validator
{
    position: absolute;
    font-size: 10pt;
    padding: 5px;
    font-weight: bolder;
}

#Validator-Warring
{
    background: rgb(208, 245, 243);
    color:      black;
    border: 2px solid rgb(235, 235, 235);
}